<!DOCTYPE html>
<html>
  <head>
    <title>Guy's Zoo</title>
    <style>
      body {
        background-color: #ADD8E6; /* Light blue */
      }
    </style>
  </head>
  <body>
    <h1>Welcome to the Guy's Animal App</h1>
    <pre>
                  __,__
         .--.  .-"     "-.  .--.                        
        / .. \/  .-. .-.  \/ .. \
       | |  '|  /   Y   \  |'  | |
       | \   \  \ 0 | 0 /  /   / |
        \ '- ,\.-"`` ``"-./, -' /
         `'-' /_   ^ ^   _\ '-'`
             |  \._   _./  |
             \   \ `~` /   /
             '._ '-=-' _.'
                 '~---~'

                 
                 _.-- ,.--.
                 .'   .'    /
                 | @       |'..--------._
                /      \._/              '.
               /  .-.-                     \
              (  /    \                     \
               \\      '.                  | #
                \\       \   -.           /
                 :\       |    )._____.'   \
                  "       |   /  \  |  \    )
                          |   |./'  :__ \.-'
                          '--'


      </pre>

  </body>
</html>