<!DOCTYPE html>
<html>
  <head>
    <title>Guy's Zoo</title>
    <style>
      body {
        background-color: #4b889c; /* Light blue */
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to the Guy's Zoo</h1>
    <pre>
                                                                                                     __,__
                                                                                            .--.  .-"     "-.  .--.                        
                                                                                          / / .. \/  .-. .-.  \/ .. \
                                                                                          | |  '|  /   Y   \  |'  | |
                                                                                          | \   \  \ 0 | 0 /  /   / |
                                                                                            \ '- ,\.-"`` ``"-./, -' /
                                                                                            `'-' /_   ^ ^   _\ '-'`
                                                                                                |  \._   _./  |
                                                                                                \   \ `~` /   /
                                                                                                '._ '-=-' _.'
                                                                                                    '~---~'
                 <div style="display:flex;justify-content:center;align-items:center;flex-direction:column;">
                  <form action="/animals" method="GET">
                    <input type="submit" value="Get Animals">
                  </form>
                  <form action="/animals" method="POST">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name">
                    <label for="type">Type:</label>
                    <input type="text" id="type" name="type">
                    <input type="submit" value="Add Animal">
                  </form>
                  <form action="/animals/<animal_id>/update" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name">
                    <label for="type">Type:</label>
                    <input type="text" id="type" name="type">
                    <input type="submit" value="Update Animal">
                  </form>
                  <form action="/animals/<animal_id>/delete" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="text" id="animal_id" name="animal_id">
                    <input type="submit" value="Delete Animal">
                  </form>
                </div>                                                                       
                                                                                                _.-- ,.--.
                                                                                                .'   .'    /
                                                                                                | @       |'..--------._
                                                                                                /      \._/              '.
                                                                                              /  .-.-                     \
                                                                                              (  /    \                     \
                                                                                              \\      '.                  | #
                                                                                                \\       \   -.           /
                                                                                                :\       |    )._____.'   \
                                                                                                  "       |   /  \  |  \    )
                                                                                                          |   |./'  :__ \.-'
                                                                                                          '--'
                                                                                                      
  </body>
</html>